<div class="mainContent">
    <ui-header (sidebar)="onHamburgerClick($event)">
        <div class="app-logo-header" [ngClass]= "{'opacity1':leftSidebarActive, 'opacity0':!leftSidebarActive }">
            <img class="app-logo" src="assets/images/logo.png"/>
        </div>
    </ui-header>
    <div class="news-home-content">
        <ui-sidebar [isActive]='leftSidebarActive' [position]="'left'">
            <ul class="app-sidebar-main">
                <li *ngFor="let item of sidebarItems" class="app-sidebar-item" 
                        [routerLink]="['newspanel', getParamList(item)]" (click)="onItemClick(item.searchText)" [ngClass]="{'app-sidebar-item-selected' : item.isSelected }">
                    <fa-icon [icon]="item.icon" [fixedWidth]="true"></fa-icon>
                    <span class="app-sidebar-text">{{item.text}}</span>
                </li>
            </ul>
        </ui-sidebar>
        <ui-sidebar  [isActive]='leftSidebarActive' [position]="'right'">
            <weather-widget [configuration]="coordinates" [panelStyle]="{'height':'15rem', 'width':'16rem' }"></weather-widget>
        </ui-sidebar>
        <router-outlet></router-outlet>
    </div>
</div>