.news-home-content{
    margin-top:4rem;
    z-index:1;
}
.app-logo-header{
    align-items: center;
    vertical-align: 1rem;
}
.app-logo{
    height:8rem;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 2px 10px 0 rgba(0,0,0,0.12), 0 2px 2px -1px rgba(0,0,0,0.2);
}
.opacity0{
    opacity:0.2;
    transition : opacity 600ms;
}
.opacity1{
    opacity:1;
    transition : opacity 600ms;
}
.app-sidebar-main{
    padding:5rem 2rem 2rem 0rem;
    text-decoration: none;
    list-style: none;
}
.app-sidebar-main .app-sidebar-item{
    margin-bottom:0.5rem;
    padding-left:4rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-right:0.5rem;
    font-weight:400;
    color:#212529;
}

.app-sidebar-main .app-sidebar-item:focus{
    outline: none;
}
.app-sidebar-main .app-sidebar-item .app-sidebar-text{
    margin-left: 1rem;
}

.app-sidebar-main .app-sidebar-item:hover, .app-sidebar-routed-link{
    border-radius: 1rem 20rem 20rem 1rem;
    -moz-border-radius: 1rem 20rem 20rem 1rem;
    -webkit-border-radius: 1rem 20rem 20rem 1rem;
    background-color:rgba(66,133,244,0.149);
    font-weight:400;
    color:rgba(98, 0, 238, 0.87);
    cursor:pointer;
}

.app-sidebar-item-selected{
    border-radius: 1rem 20rem 20rem 1rem;
    -moz-border-radius: 1rem 20rem 20rem 1rem;
    -webkit-border-radius: 1rem 20rem 20rem 1rem;
    background-color:rgba(66,133,244,0.149);
    font-weight:400;
    color:rgba(98, 0, 238, 0.87);
    background-color:#6200ee;
}